<a href="https://colab.research.google.com/github/mounikasuri/Smart-Public-Transport-efficiency-Delay-Analytics/blob/main/public_transport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('APSRTC_Transport_Data.csv')
print(df.head())
print(df.info())

   bus_id                 route      bus_type       depot        date  \
0  AP0001     Kurnool-Hyderabad      Volvo AC      Guntur  2024-11-26
1  AP0002   Anantapur-Bangalore       Sleeper    Tirupati  2024-10-03
2  AP0003  Hyderabad-Vijayawada      Volvo AC  Vijayawada  2024-07-06
3  AP0004       Eluru-Hyderabad  Semi-Sleeper     Kurnool  2024-11-02
4  AP0005     Kurnool-Hyderabad       Sleeper   Hyderabad  2024-09-20

   capacity  passengers  occupancy_rate  distance_km  fare_per_passenger  \
0        49          32           65.77       326.58              908.75
1        36          14           41.42       291.91              770.66
2        49          43           89.26       238.41              277.49
3        63          52           83.97       347.55              199.64
4        44          31           70.62       444.88              591.89

    revenue  fuel_consumed_liters      month day_of_week
0  29079.96                 75.73   November     Tuesday
1  10789.30                 71.55    October    Thursday
2  11932.08                 47.85       July    Saturday
3  10381.38                 72.64   November    Saturday
4  18348.44                 77.17  September      Friday
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bus_id                1000 non-null   object
 1   route                 1000 non-null   object
 2   bus_type              1000 non-null   object
 3   depot                 1000 non-null   object
 4   date                  1000 non-null   object
 5   capacity              1000 non-null   int64
 6   passengers            1000 non-null   int64
 7   occupancy_rate        1000 non-null   float64
 8   distance_km           1000 non-null   float64
 9   fare_per_passenger    1000 non-null   float64
 10  revenue               1000 non-null   float64
 11  fuel_consumed_liters  1000 non-null   float64
 12  month                 1000 non-null   object
 13  day_of_week           1000 non-null   object
dtypes: float64(5), int64(2), object(7)
memory usage: 109.5+ KB
None

In [ ]:

print(df.isnull().sum())
df = df.fillna(df.mean(numeric_only=True))
df = df.dropna(subset=['bus_id','route','date'])

bus_id                  0
route                   0
bus_type                0
depot                   0
date                    0
capacity                0
passengers              0
occupancy_rate          0
distance_km             0
fare_per_passenger      0
revenue                 0
fuel_consumed_liters    0
month                   0
day_of_week             0
dtype: int64

In [ ]:

df = df.rename(columns={
    'bus_id': 'BusID',
    'route': 'Route',
    'date': 'Date',
})
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:

df.to_csv('APSRTC_Cleaned.csv', index=False)